@model E_commerce.ViewModels.Mail
@{
    ViewBag.Title = "Contact";
}
@*
    * @File name : Contact view
    * @Author : Ritesh Patel and Parvati Patel
    * @Website name : Taj Mahel(http://indianrestaurant.azurewebsites.net/)
    * @File description : This view provide contact form and location info.
*@

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Contact Us</h2>

                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->
<div class="col-md-6">


    @*  <div class="alert btn-sample btn-sm alert-dismissible" id="AlertFlash" runat="server" visible="false">
        <asp:Label runat="server" ID="StatusLabel" />
                    </div>*@
    @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
    {
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Leave your comment.</legend>
            <div class="form-horizontal">
                @Html.ValidationSummary()
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn button3" />
                    </div>
                </div>
            </div>
        </fieldset>
    }

</div>

<div class="col-md-6">
    <div class="map">
        <div id="canvas-for-google-map" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=10+Vanessa+Drive,+Orillia,+ON,+Canada&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embed-map-html" href="http://www.szablonypremium.pl/wordpress" id="make-map-information">motywy wordpress</a>
        <style>
            #canvas-for-google-map img {
                max-width: none !important;
                background: none !important;
                font-size: inherit;
            }
        </style>
    </div>

    <!-- end google map -->
</div>
