<!--
File name : Details.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpteam.azurewebsites.net/)
File description : Details Page - Description of item.
-->

@model E_commerce.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
