<!--
File name : Layout.cshtml
Author : Ritesh Patel, Parvati Patel, Himanshu Patel and Rutvik Patel
Website name : Ecommerce(http://pnpteam.azurewebsites.net/)
File description : Layout Page - to develop the header and footer on every page.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="~/Assests/logo.png"></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                       @{Html.RenderAction("CartSummary", "ShoppingCart");}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Products", "ItemList", "Home")</li>
                        <li>@Html.ActionLink("Cart", "Index", "ShoppingCart")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    @RenderBody()
    <div class="container body-content">


    </div>

    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-about-us">
                        <h2>E<span>Commerce</span></h2>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="footer-social">
                            <a href="" target="_blank" class="btn button2"><i class="fa fa-facebook"></i></a>
                            <a href="" target="_blank" class="btn button2"><i class="fa fa-twitter"></i></a>
                            <a href="http://pnpecommerce.azurewebsites.net/" target="_blank" class="btn button2"><i class="fa fa-github"></i></a>
                            <a href="" target="_blank" class="btn button2"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shoppingCart")
    @RenderSection("scripts", required: false)
</body>
</html>
